@media only screen and (min-width: 680px){
    .dt-img{
        position: relative;
        width: 100%;
    }
    .dt-img img{                
        width: 100%;
    }
    .dt-img img:hover{                
        opacity:0.6;
    }
    .dt-title{
        position: absolute;
        bottom: 0;
        right: 0px;
        width: 123px;
        padding: 8px 30px;
    }
    .dt-title i.small {
        font-size: 32px;
        
        color: #2699FB;
        padding-top: 0;
    }
    .dt-title p{
        font-family: arial;
        font-weight: bold;
        float: left;
        font-size: 22px;
        width: 50%;
        margin: 0;
        padding-left: 7px;
        padding-bottom: 0;
        color: #2699FB;
    }    
    .n-infos{
        position: relative;
        padding: 12px 0;
        color:#2699FB;
        margin: 10px 0;
        font-size: 14px;        
    }
    .n-infos h3{
        font-size: 1.3rem;
        line-height: 110%;
        margin: 12px 0;
    }
    .n-infos p{
        float: left;
        margin: 0;
        padding-left: 7px;
        padding: 5px 0 20px 0;
        color: #2699FB;
    }
    .n-titulo{
        width: 50%;
        float: left;
    }
    .n-data{
        width: 50%;
        float: right;
        padding-left:39px;
    }
    .n-titulo i.small{
        float: left;
        font-size: 2rem;
        padding-right: 5px;
    }
    .n-data i.small {
        float: left;
        font-size: 2rem;
        padding-right: 5px;
    }
    .n-titulo p{
        padding: 5px;
    }
    .n-data p{
        padding:5px;
    }    
    .dt-title i.small{
        cursor: pointer;
    }
    .dt-title i.small:hover{        
        transition:0.3s;
        color:#7FC4FD;
    }
    .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 2s linear infinite;
      margin: 20px 45%;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .tb-click{
        background-color: transparent;
        border: none;        
        float: left;
        width: 50%;
    }
}